.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-icons {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.top-icons img {
  width: 35px;
}

.top-image {
  margin: 15px 30px;
  padding: 25px 30px;
  background-color: rgb(31,37,53);
  color: white;
}

.top-text {
  text-align: left;
  width: 270px;
  font-size: x-large;
}

.items-list {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 100px;
}

.item {
  width: 200px;
}